.idea/
.vscode/
.vagrant/
*.tar.*
MakeFile.in
/configure
/config.*
cmake-build-debug/
autom4te.cache/
*.o
Makefile
.deps/
src/ocelot
/ocelot.conf
build/
/ocelot
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.cbp
.DS_Store
